@import 'shared/fonts.css';

:root{
    font-family: 'Quicksand';
    font-size: 20px;
}

body {
    background: linear-gradient (to right, var (--color-background-dark), var (--color-backgound-light));
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

